*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    width: 100vw;
    background:powderblue;
} 

.toolbar{
    background-color:transparent;
    overflow: hidden;
}

.toolbar a {
    float: left;
    color: turquoise;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .toolbar a:hover {
    background-color: #c04141;
    color: black;
  }
  
  .toolbar a.active {
    background-color: #04AA6D;
    color: white;
  }

.middle{
    position:relative;
    top:40%;
}

.heading{
    
    /*top: 50%;
    left: 50%;  */
    display:block;

    text-align: center !important; 
    
    color: rgb(254, 169, 0); 
    
}



.buttons{
    position:fixed;
    top:50%;
    left:42%;
    width: 200px;
}

button {
    display:block;
    border: transparent;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 15px 2px;
    cursor: pointer;
}

button::before{
    content: " ➥";
}

